<!--<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile *ngFor="let subject of _subjects">
    <mat-card>
      <mat-card-title>
        {{ subject.name }}
      </mat-card-title>
      
      <ul>
        <li *ngFor="let course of subject.courses">
          {{ course.studentCount }} of {{course.studentLimit}}
        </li>
      </ul>
    
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
-->

<!-- vagy kártyázunk és felugró ablakban coursek, vagy lenyiló és valami ilyen,de nem radio mert azt nem lehet üresen hagyni. -->
<mat-accordion>
    <mat-expansion-panel *ngFor="let subject of _subjects">
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{ subject.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-radio-group >
              <mat-radio-button *ngFor="let course of subject.courses" [value]="course.id">
                  <label>Hallgatók száma/limit: {{ course.studentCount }} / {{course.studentLimit}} <br>
                      Oktató neve: {{course.teacher.name}} 
                  </label>
              </mat-radio-button>
          </mat-radio-group>
        <mat-action-row>
            <button  mat-button type="submit" >Tárgy felvétele </button>
        </mat-action-row>
    </mat-expansion-panel>
<mat-accordion>
  
  