<mat-toolbar>
      <span>Neptun--&trade;</span>
      <div ><button mat-stroked-button	 routerLink="">Tantárgyak</button></div>
      <div ><button mat-stroked-button	 routerLink="my-courses">Felvett kurzusok</button></div>
      <div ><button mat-stroked-button	 routerLink="my-messages">Üzenetek</button></div>
      <div ><button mat-stroked-button	 routerLink="create-user">Új felhasználó</button></div>
      <div ><button mat-stroked-button	 routerLink="login">Bejelentkezés</button></div>
  
</mat-toolbar>
